<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycharttest.mapper.BwsiMapper">
    <select id="queryBwsi" parameterType="int" resultType="com.mycharttest.pojo.Bwsi">
        select * from Bwsi where wsi_id =#{id}
    </select>
</mapper>